﻿
@{
    ViewBag.Title = "ADM003";
}
@using manageruser.Models.Entity;
@{

    List<MstJapan> listJapan = ViewBag.listJapan;
    List<MstGroup> listGroup = ViewBag.listGroup;
    List<string> listErr = ViewBag.listErr;
    UserInfo userInfo = ViewBag.userInfo;
    List<int> listYear = ViewBag.listYear;
    List<int> listYearEnd = ViewBag.listYearEnd;
    List<int> listMonth = ViewBag.listMonth;
    List<int> listDay = ViewBag.listDay;
}
<body>
    <form action="ADM003?type=submit" method="post" name="inputform">
        <table class="tbl_input" border="0" width="75%" cellpadding="0" cellspacing="0">
            <tr>
                <th align="left">
                    <div style="padding-left:100px;">
                        会員情報編集
                    </div>
                </th>
            </tr>
            <tr>
                <td class="errMsg">
                    <div style="padding-left:120px">
                        @if(listErr.Count > 0) { 
                        foreach (var err in listErr)
                        {
                        <p>@err</p>
                         }
                        }
                            </div>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <div style="padding-left:100px;">
                        <table border="0" width="100%" class="tbl_input" cellpadding="4" cellspacing="0">
                            @if (userInfo.UserId == 0)
                            {
                                <tr>
                                    <td class="lbl_left"><font color="red">*</font> アカウント名:</td>
                                    <td align="left">
                                        <input class="txBox" type="text" name="loginName" value="@userInfo.LoginName"
                                               size="15" onfocus="this.style.borderColor='#0066ff';"
                                               onblur="this.style.borderColor='#aaaaaa';" />
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td class="lbl_left"><font color="red">*</font> アカウント名:</td>
                                    <td align="left">
                                        <input class="txBox" type="text" name="loginName" value="@userInfo.LoginName"
                                               size="15" onfocus="this.style.borderColor='#0066ff';"
                                               onblur="this.style.borderColor='#aaaaaa';" readonly />
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td class="lbl_left"><font color="red">*</font> グループ:</td>
                                <td align="left">
                                    <select name="groupId">
                                        <option value="0">選択してください</option>
                                        @{
                                            foreach (var group in listGroup)
                                            {
                                                if (group.GroupId == userInfo.GroupId)
                                                {
                                                    <option value="@group.GroupId" selected>
                                                        @group.GroupName
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@group.GroupId">
                                                        @group.GroupName
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left"><font color="red">*</font> 氏名:</td>
                                <td align="left">
                                    <input class="txBox" type="text" name="fullName" value="@userInfo.FullName"
                                           size="30" onfocus="this.style.borderColor='#0066ff';"
                                           onblur="this.style.borderColor='#aaaaaa';" />
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left">カタカナ氏名:</td>
                                <td align="left">
                                    <input class="txBox" type="text" name="fullNameKana" value="@userInfo.FullNameKana"
                                           size="30" onfocus="this.style.borderColor='#0066ff';"
                                           onblur="this.style.borderColor='#aaaaaa';" />
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left"><font color="red">*</font> 生年月日:</td>
                                <td align="left">
                                    <select name="yearBirthday">
                                        @{
                                            foreach (var year in listYear)
                                            {
                                                if (year == userInfo.BirthYear)
                                                {
                                                    <option value="@year" selected>
                                                        @year
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@year">
                                                        @year
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>年
                                    <select name="monthBirthday">
                                        @{
                                            foreach (var month in listMonth)
                                            {
                                                if (month == userInfo.BirthMonth)
                                                {
                                                    <option value="@month" selected>
                                                        @month
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@month">
                                                        @month
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>月
                                    <select name="dayBirthday">
                                        @{
                                            foreach (var day in listDay)
                                            {
                                                if (day == userInfo.BirthDay)
                                                {
                                                    <option value="@day" selected>
                                                        @day
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@day">
                                                        @day
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>日
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left"><font color="red">*</font> メールアドレス:</td>
                                <td align="left">
                                    <input class="txBox" type="text" name="email" value="@userInfo.Email"
                                           size="30" onfocus="this.style.borderColor='#0066ff';"
                                           onblur="this.style.borderColor='#aaaaaa';" />

                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left"><font color="red">*</font>電話番号:</td>
                                <td align="left">
                                    <input class="txBox" type="text" name="tel" value="@userInfo.Tel"
                                           size="30" onfocus="this.style.borderColor='#0066ff';"
                                           onblur="this.style.borderColor='#aaaaaa';" />
                                </td>
                               
                            </tr>
                            @if (userInfo.UserId == 0)
                            {
                                <tr>
                                    <td class="lbl_left"><font color="red">*</font> パスワード:</td>
                                    <td align="left">
                                        <input class="txBox" type="password" name="password" value="@userInfo.Password"
                                               size="30" onfocus="this.style.borderColor='#0066ff';"
                                               onblur="this.style.borderColor='#aaaaaa';" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="lbl_left">パスワード（確認）:</td>
                                    <td align="left">
                                        <input class="txBox" type="password" name="passwordConfirm" value="@userInfo.PasswordConfirm"
                                               size="30" onfocus="this.style.borderColor='#0066ff';"
                                               onblur="this.style.borderColor='#aaaaaa';" />
                                    </td>
                                </tr>
                            }
                            <tr>
                                <th align="left" colspan="2">
                                    <a href="#"
                                       onclick="hiddenLevelJapan()">日本語能力</a>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div style="padding-left:100px; display : none " id="hiddenLvJapan">
                        <table border="0" width="100%" class="tbl_input" cellpadding="4" cellspacing="0">
                            <tr>
                                <td class="lbl_left">資格:</td>
                                <td align="left">
                                    <select name="kyu_id">
                                        <option value="0">選択してください</option>
                                        @{
                                            foreach (var japan in listJapan)
                                            {
                                                if (japan.CodeLevel == userInfo.CodeLevel)
                                                {
                                                    <option value="@japan.CodeLevel" selected>
                                                        @japan.NameLevel
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@japan.CodeLevel">
                                                        @japan.NameLevel
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left">資格交付日: </td>
                                <td align="left">
                                    <select name="yearStart">
                                        @{
                                            foreach (var year in listYear)
                                            {
                                                if (year == userInfo.StartYear)
                                                {
                                                    <option value="@year" selected>
                                                        @year
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@year">
                                                        @year
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>年
                                    <select name="monthStart">
                                        @{
                                            foreach (var month in listMonth)
                                            {
                                                if (month == userInfo.StartMonth)
                                                {
                                                    <option value="@month" selected>
                                                        @month
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@month">
                                                        @month
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>月
                                    <select name="dayStart">
                                        @{
                                            foreach (var day in listDay)
                                            {
                                                if (day == userInfo.StartDay)
                                                {
                                                    <option value="@day" selected>
                                                        @day
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@day">
                                                        @day
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>日
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left">失効日: </td>
                                <td align="left">
                                    <select name="yearEnd">
                                        @{
                                            foreach (var year in listYearEnd)
                                            {
                                                if (year == userInfo.EndYear)
                                                {
                                                    <option value="@year" selected>
                                                        @year
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@year">
                                                        @year
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>年
                                    <select name="monthEnd">
                                        @{
                                            foreach (var month in listMonth)
                                            {
                                                if (month == userInfo.EndMonth)
                                                {
                                                    <option value="@month" selected>
                                                        @month
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@month">
                                                        @month
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>月
                                    <select name="dayEnd">
                                        @{
                                            foreach (var day in listDay)
                                            {
                                                if (day == userInfo.EndDay)
                                                {
                                                    <option value="@day" selected>
                                                        @day
                                                    </option>
                                                }
                                                else
                                                {
                                                    <option value="@day">
                                                        @day
                                                    </option>
                                                }

                                            }
                                        }
                                    </select>日
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left">点数: </td>
                                <td align="left">
                                    <input class="txBox" type="text" name="total" value="@userInfo.Total"
                                           size="5" onfocus="this.style.borderColor='#0066ff';"
                                           onblur="this.style.borderColor='#aaaaaa';" />
                                </td>
                            </tr>
                            
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div style="padding-left:100px;">&nbsp;</div>
        <!-- Begin vung button -->
        <div style="padding-left:45px;">
            <table border="0" cellpadding="4" cellspacing="0" width="300px">
                <tr>
                    <th width="200px" align="center">&nbsp;</th>
                    <td>
                        <input class="btn" type="submit" value="確認" />
                    </td>
                    <td>
                        <a href="~/ListUser/ADM002?type=back"><input class="btn" type="button" value="戻る" /></a>
                    </td>
                </tr>
            </table>
            <!-- End vung button -->
    </form>
    <!-- End vung input -->
</body>

