﻿
@{
    ViewBag.Title = "ADM002";
}
@using manageruser.Models.Entity;
@{ 
    List<MstGroup> listGroup = ViewBag.listGroup;
    List<UserInfo> listUserInfo = ViewBag.listUserInfo;
    List<int> listPaging = ViewBag.listPaging;
    string fullName = (string)Session["fullName"];
    int groupId = (int)Session["groupId"];
    string sortByFullName = (string)Session["sortByFullName"];
    string sortByCodeLevel = (string)Session["sortByCodeLevel"];
    string sortByEndDate = (string)Session["sortByEndDate"];
    string sortType = (string)Session["sortType"];
    int currenPage = (int)Session["currenPage"];

}

<body>
    <form action="/ListUser/ADM002" method="get" name="mainform">
        <input name="type" type="hidden" value="search" />
        <table class="tbl_input" border="0" width="90%" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    会員名称で会員を検索します。検索条件無しの場合は全て表示されます。
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <table class="tbl_input" cellpadding="4" cellspacing="0">
                        <tr>
                            <td class="lbl_left">氏名:</td>
                            <td align="left">
                                <input class="txBox" type="text" name="fullName" value="@fullName"
                                       size="20" onfocus="this.style.borderColor='#0066ff';"
                                       onblur="this.style.borderColor='#aaaaaa';" />
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="lbl_left">グループ:</td>
                            <td align="left" width="80px">
                                <select name="groupId">
                                    <option value="0">全て</option>
                                    @{
                                        foreach (var group in listGroup)
                                        {
                                            if (group.GroupId == groupId)
                                            {
                                                <option value="@group.GroupId" selected>
                                                    @group.GroupName
                                                </option>
                                            }
                                            else
                                            {
                                                <option value="@group.GroupId">
                                                    @group.GroupName
                                                </option>
                                            }

                                        }
                                    }
                                </select>
                            </td>
                            <td align="left">
                                <input class="btn" type="submit" value="検索" />
                                <a href="~/UserInfoInput/ADM003?type=add"><input class="btn" type="button" value="新規追加" /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- End vung dieu kien tim kiem -->
    </form>
    <!-- Begin vung hien thi danh sach user -->
    <table class="tbl_list" border="1" cellpadding="4" cellspacing="0" width="80%">

        <tr class="tr2">
            <th align="center" width="20px">
                ID
            </th>
            <th align="left">
                氏名
                @if (sortByFullName == "ASC")
                {
                    <a href="~/ListUser/ADM002?type=sort&sortType=full_name&sortByFullName=DESC&fullname=@fullName&groupId=@groupId">▲▽</a>
                }
                else
                {
                    <a href="~/ListUser/ADM002?type=sort&sortType=full_name&sortByFullName=ASC&fullname=@fullName&groupId=@groupId">△▼</a>
                }
            </th>
            <th align="left">
                生年月日
            </th>
            <th align="left">
                グループ
            </th>
            <th align="left">
                メールアドレス
            </th>
            <th align="left" width="70px">
                電話番号
            </th>
            <th align="left">
                日本語能力
                @if (sortByCodeLevel == "ASC")
                {
                    <a href="~/ListUser/ADM002?type=sort&sortType=code_level&sortByCodeLevel=DESC&fullname=@fullName&groupId=@groupId">▲▽</a>
                }
                else
                {
                    <a href="~/ListUser/ADM002?type=sort&sortType=code_level&sortByCodelevel=ASC&fullname=@fullName&groupId=@groupId">△▼</a>
                }
            </th>
            <th align="left">
                失効日
                @if (sortByEndDate == "ASC")
                {
                    <a href="~/ListUser/ADM002?type=sort&sortType=end_date&sortByEndDate=DESC&fullname=@fullName&groupId=@groupId">▲▽</a>
                }
                else
                {
                    <a href="~/ListUser/ADM002?type=sort&sortType=end_date&sortByEndDate=ASC&fullname=@fullName&groupId=@groupId">△▼</a>
                }
            </th>
            <th align="left">
                点数
            </th>
        </tr>
        @{
            foreach (var userInfo in listUserInfo)
            {
                <tr>
                    <td align="right"><a href="~/UserInfo/ADM005?userId=@userInfo.Saft">@userInfo.UserId</a></td>
                    <td>@userInfo.FullName</td>
                    <td align="center">@userInfo.Birthday.ToString("yyyy/MM/dd")</td>
                    <td>@userInfo.GroupName</td>
                    <td>@userInfo.Email</td>
                    <td>@userInfo.Tel.Replace("-", string.Empty)</td>
                    <td>@userInfo.NameCodeLevel</td>
                    <td align="center">
                        @if (@userInfo.EndDate.Year != 0001)
                        {
                            @userInfo.EndDate.ToString("yyyy/MM/dd")
                        }
                    </td>
                    <td align="right">@userInfo.Total</td>
                </tr>
            }
        }
    </table>
   
        @if (listUserInfo.Count() == 0)
        {
    <p>検索条件に該当するユーザが見つかりません</p>
        }

        <!-- End vung hien thi danh sach user -->
        <!-- Begin vung paging -->
        <table>
            <tr>
                @if (listPaging.Count > 0)
                {
                    if (listPaging[0] > 1)
                    {
                        <td>
                            @{
                                var page = listPaging[0] - 1;
                            }
                            <a href="~/ListUser/ADM002?type=paging&currentPage=@page&sortType=@sortType&sortByFullName=@sortByFullName&sortByCodeLevel=@sortByCodeLevel&sortByEndDate=@sortByEndDate&fullname=@fullName&groupId=@groupId"><<</a>
                        </td>
                    }
                   
                        foreach (int i in listPaging)
                        {
                            if (i == currenPage)
                            {
                                <td>
                                    @i
                                </td>

                            }
                            else
                            {
                                <td>
                                    <a href="~/ListUser/ADM002?type=paging&currentPage=@i&sortType=@sortType&sortByFullName=@sortByFullName&sortByCodeLevel=@sortByCodeLevel&sortByEndDate=@sortByEndDate&fullname=@fullName&groupId=@groupId">@i</a>
                                </td>
                            }

                        }
                    

                    if (listPaging[listPaging.Count() - 1] < ViewBag.totalPage)
                    {
                        <td>
                            @{
                                var page = listPaging[listPaging.Count() - 1] + 1;
                            }
                            <a href="~/ListUser/ADM002?type=paging&currentPage=@page&sortType=@sortType&sortByFullName=@sortByFullName&sortByCodeLevel=@sortByCodeLevel&sortByEndDate=@sortByEndDate&fullname=@fullName&groupId=@groupId">>></a>
                        </td>
                    }
                }

            </tr>
        </table>
        <!-- End vung paging -->
</body>