﻿
@{
    ViewBag.Title = "ADM001";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="~/Style/css/style.css" rel="stylesheet" type="text/css" />
    <title>ユーザ管理</title>
</head>
<body align="center">
    <form action="/Login/Login" method="post">
        @Html.AntiForgeryToken()
        <center>
            <table class="tbl_input" cellpadding="4" cellspacing="0" width="400">
                <tr>
                    <th width="120px">&nbsp;</th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="2" align="left">アカウント名およびパスワードを入力してください</th>
                </tr>
                <tr>
                    <td colspan="2" class="errMsg">@ViewBag.ERR01</td>
                </tr>
                <tr>
                    <td colspan="2" class="errMsg">@ViewBag.ERR02</td>
                </tr>

                <tr>
                    <td class="lbl_left">アカウント名:</td>
                    <td>
                        <input type="text" value="" name="loginName" size="20" onfocus="this.style.borderColor='#0066ff';"
                               onblur="this.style.borderColor='#aaaaaa';" />
                    </td>
                </tr>
                <tr>
                    <td class="lbl_left">パスワード:</td>
                    <td>
                        <input type="password" value="" name="password" size="20" onfocus="this.style.borderColor='#0066ff';"
                               onblur="this.style.borderColor='#aaaaaa';" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn_wider" type="submit" value="ログイン" /></td>
                </tr>
            </table>
        </center>
    </form>
</body>
</html>

