﻿<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Style/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Style/js/javaScript.js"></script>
    <title>ユーザ管理</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td width="80%"><img src="~/Style/images/logo-manager-user.gif" alt="Luvina" /> </td>
                <td><a href="@Url.Action("Logout","Logout")">ログアウト</a> &nbsp; <a href="@Url.Action("ADM002","ListUser")">トップ</a></td>
            </tr>
        </table>
    </div>
    @RenderBody()
    <div class="lbl_footer">
        <br><br><br><br>
        Copyright ©　2010　ルビナソフトウエア株式会社. All rights reserved.
    </div>

</body>
</html>