﻿
@{
    ViewBag.Title = "SystemError";
}

@{
    string msg = ViewBag.msg;
}

<body>
    <!-- Begin vung input-->
    <form action="Logout" method="post" name="inputform">
        <table class="tbl_input" border="0" width="80%" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" colspan="2">
                    <div style="height:50px"></div>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    @msg
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <div style="height:70px"></div>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input class="btn" type="submit" value="OK" onclick="" />
                </td>
            </tr>
        </table>
    </form>
    <!-- End vung input -->

</body>

