﻿
@{
    ViewBag.Title = "ADM004";
}
@using manageruser.Models.Entity;
@{
    UserInfo userInfo = ViewBag.userInfo;
    
}
<body>
    <!-- Begin vung input-->
    <form action="AddEdit" method="post" name="inputform">
        <table class="tbl_input" border="0" width="75%" cellpadding="0" cellspacing="0">
            <tr>
                <th align="left">
                    <div style="padding-left:100px;">
                        情報確認<br>
                        入力された情報をＯＫボタンクリックでＤＢへ保存してください
                    </div>
                    <div style="padding-left:100px;">&nbsp;</div>
                </th>
            </tr>
            <tr>
                <td align="left">
                    <div style="padding-left:100px;">
                        <table border="1" width="70%" class="tbl_input" cellpadding="4" cellspacing="0">
                            <tr>
                                <td class="lbl_left">アカウント名:</td>
                                <td align="left">@userInfo.LoginName</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">グループ:</td>
                                <td align="left">@userInfo.GroupName</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">氏名:</td>
                                <td align="left">@userInfo.FullName</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">カタカナ氏名:</td>
                                <td align="left">@userInfo.FullNameKana</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">生年月日:</td>
                                <td align="left">@userInfo.Birthday.ToString("yyyy/MM/dd")</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">メールアドレス:</td>
                                <td align="left">@userInfo.Email</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">電話番号:</td>
                                <td align="left">@userInfo.Tel</td>
                            </tr>
                            <tr>
                                <th align="left" colspan="2">
                                    <a href="#"
                                       onclick="hiddenLevelJapan()">日本語能力</a>
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div style="padding-left:100px; display : none " id="hiddenLvJapan">
                        <table border="1" width="70%" class="tbl_input" cellpadding="4" cellspacing="0">
                            <tr>
                                <td class="lbl_left">資格:</td>
                                <td align="left">@userInfo.NameCodeLevel</td>
                            </tr>
                            <tr>
                                <td class="lbl_left">資格交付日:</td>
                                <td align="left">
                                    @if (@userInfo.NameCodeLevel != null && @userInfo.NameCodeLevel != "0")
                                    {
                                        @userInfo.StartDate.ToString("yyyy/MM/dd")
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left">失効日:</td>
                                <td align="left">
                                    @if (@userInfo.NameCodeLevel != null && @userInfo.NameCodeLevel != "0")
                                    {
                                        @userInfo.EndDate.ToString("yyyy/MM/dd")
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="lbl_left">点数:</td>
                                <td align="left">@userInfo.Total</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <div style="padding-left:100px;">&nbsp;</div>
        <!-- Begin vung button -->
        <div style="padding-left:45px;">
            <table border="0" cellpadding="4" cellspacing="0" width="300px">
                <tr>
                    <th width="200px" align="center">&nbsp;</th>
                    <td>
                        <input class="btn" type="submit" value="OK" />
                    </td>
                    <td>
                        <a href="~/UserInfoInput/ADM003?type=back&key=@ViewBag.key"><input class="btn" type="button" value="戻る" /></a>
                    </td>
                </tr>
            </table>
            <!-- End vung button -->
    </form>
    <!-- End vung input -->
</body>

